<section class="content-wrapper">
  @if (baseQr$ | async; as qr) {
    <ec-qr-display [qr]="qr"></ec-qr-display>
  } @else {
    <ec-loading></ec-loading>
  }
  <section class="mt-3">
    <mat-form-field appearance="outline">
      <mat-label>Enter QR text</mat-label>
      <input
        matInput
        placeholder="Enter text"
        [formControl]="textInput"
        required
      />
      @if (isTextInputInvalid$ | async) {
        <mat-error>Text is required</mat-error>
      }
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isTextInputInvalid$ | async"
        (click)="generateQrCode()"
      >
        Generate
      </button>
    </div>
  </section>
  @if (textQrCode$ | async; as qr) {
    <ec-qr-display [qr]="qr"></ec-qr-display>
  }
</section>
