<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Navigation</mat-toolbar>
    <mat-nav-list>
      @if (navigation$ | async; as navigations) {
        @for (item of navigations; track item.title) {
          <a mat-list-item [routerLink]="item.path" (click)="drawer.close()">
            {{ item.title }}
          </a>
        }
        @if (user$ | async) {
          <a mat-list-item routerLink="/" (click)="logOut(); drawer.close()">
            Log out
          </a>
        }
        <a
          mat-list-item
          target="_blank"
          href="https://github.com/educata/everrest-angular"
        >
          <div class="start">
            <img src="../assets/icons/github.svg" alt="GitHub icon" />
            <span>GitHub</span>
          </div>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <a mat-button class="title" routerLink="/">{{ title }}</a>
      <span class="fill"></span>
      @if (!(isHandset$ | async)) {
        @if (navigation$ | async; as navigations) {
          @for (item of navigations; track item.title) {
            <a mat-button [routerLink]="item.path">
              {{ item.title }}
            </a>
          }
        }
        @if (user$ | async) {
          <a mat-button routerLink="/" (click)="logOut()"> Log out </a>
        }
        <a
          mat-button
          target="_blank"
          href="https://github.com/educata/everrest-angular"
        >
          <div class="center">
            <img src="../assets/icons/github-white.svg" alt="GitHub icon" />
            <span>GitHub</span>
          </div>
        </a>
      }
    </mat-toolbar>
    <main>
      <h1>{{ pageTitle$ | async }}</h1>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
