section.container {
  width: 100%;
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;

  mat-tab-group {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    max-width: 600px;

    form {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
}
