html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-paginator-container-background-color);
}

section.content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  place-items: center;
}

.mb3 {
  margin-bottom: 1rem;
}

.mt3 {
  margin-top: 1rem;
}
